.journal-all-entries-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 column-gap: 10px;
}

.journal-entries-container {
  width: 49%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-block: 10px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: left;
  font-size: 12px;
  color: #686868;
}

.journal-category-container {
  display: flex;
}

.journal-category {
  border: none;
  border-radius: 10px;
  background-color:  #9a8cea;
  color: white;
  padding: 1px 5px;
  font-size: 10px;
  margin-left: auto;
}

