* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form body {
  background-color: #eeeeea;
}

.weather-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.weather-card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 5px;
  display: flex;
  align-items: flex-start;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.32);
  background-color: rgba(255, 255, 255, 0.3568627451);
  border-radius: 20px;
  color: rgb(147, 147, 147);
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  max-height: 400px;
}

.hourly-forecast {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 520px;

  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.hourly-forecast > div {
  display: flex;
  align-items: center;
}

.description p {
  color: #b0b0ba;
}

.description h5 {
  text-transform: uppercase;
}

.container > input {
  display: none;
}

.container > input:checked + label {
  width: 600px;
  min-width: 50px;
  flex-shrink: 2;
}

.container > input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.hourly-forecast {
  display: flex;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;

  margin-top: 10px;
  width: 50%;
}

.form__field {
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;

  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.weather-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
